main {
    background: linear-gradient(180deg, #4D81B3 0%, #89B0D6 100%);
    padding-top: 102px;
    padding-bottom: 58px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 110%;
    text-align: center;
    font-family: var(--font-ss3);
    margin: 10px;
    z-index: 5;
}

.h1-subheader {
    font-family: var(--font-ops);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
    z-index: 5;
    max-width: 560px;
}

.h1-subheader a {
    border-bottom: 1px solid hsl(0deg 0% 100% / 50%);
    transition: border .4s ease-out;
}

.h1-subheader a:hover {
    border-bottom: 2px solid hsl(0deg 0% 100%);
    transition: none;
}

.pricing-tab-buttons-wrapper {
    padding: 0 48px;
}

.pricing-tab-buttons {
    display: flex;
    gap: 3px;
    justify-content: center;
    margin: 50px auto 0;
    max-width: 880px;
}

.pricing-tab-button {
    position: relative;
    display: flex;
    padding: 12px 12px 12px 12px;
    margin-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0;
    border-radius: 16px;
    background-color: hsla(0, 0%, 100%, 0.5);
    position: relative;
    cursor: pointer;
    transition: background 80ms ease-out;
}

.pricing-tab-button:hover {
    background-color: hsla(0, 0%, 100%, 0.6);
}

.pricing-tab-button:active {
    background-color: hsla(0, 0%, 100%, 0.7);
}

.pricing-tab-button:last-child {
    border-radius: 16px 16px 0px 14px;
}

.pricing-tab-button:first-child {
    border-radius: 16px 16px 14px 0px;
}


.pricing-tab-button._active,
.pricing-tab-button._active:hover,
.pricing-tab-button._active:active {
    padding-bottom: 14px;
    margin-bottom: 0;
    border-radius: 16px 16px 0px 0px;
    background-color: hsla(0, 0%, 100%, 0.90);
    cursor: default;
}

.pricing-tab-button::before,
.pricing-tab-button::after {
    width: 16px;
    height: 16px;

    content: '';
    position: absolute;
    bottom: 0;

    display: inline-block;
    flex-shrink: 0;
    background-color: hsla(0, 0%, 100%, 0);
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    /* transition: background 100ms ease-out; */
}

.pricing-tab-button::before {
    left: -16px;
}

.pricing-tab-button::after {
    right: -16px;
}

.pricing-tab-button._active::before {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='white' d='M0 16h16V0c0 8.837-7.163 16-16 16Z'/%3e%3c/svg%3e");
    background-color: hsla(0, 0%, 100%, 0.9);
}

.pricing-tab-button._active::after {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='white' d='M16 16H0V0c0 8.837 7.163 16 16 16Z'/%3e%3c/svg%3e");
    background-color: hsla(0, 0%, 100%, 0.9);
}

.pricing-tab-button-title {
    color: hsl(223, 40%, 30%);
    font-family: var(--font-ops);
    font-size: 30px;
    font-style: normal;
    font-weight: 550;
    line-height: 32px;
    margin: 0;
}

.pricing-tab-button-desc {
    color: hsla(223, 40%, 25%, 0.6);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-ss3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.pricing-tab-button-separator {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 24px;
    right: 24px;
    margin: 0;
    border: none;
    border-bottom: 1px dashed hsla(223, 40%, 25%, 0.2);
}

.pricing-tab-button._active .pricing-tab-button-separator {
    visibility: visible;
}

.pricing-tabs-wrapper {
    position: relative;
}

.pricing-tabs {
    padding: 0 16px 0 16px;
    text-align: center;
    overflow-x: auto;

}

.pricing-tab {
    display: none;
    margin: 0 auto;
    min-width: calc(990px - 2*16px);
    max-width: 1320px;
    /* for 2 plans it is better be 900px */
    /* max-width: 900px;  */

    border-radius: 16px;
    background: hsla(0, 0%, 100%, 0.9);
    padding: 20px 4px;
}

.pricing-tab._active {
    display: flex;
    justify-content: space-evenly;
}

.plan-section-separator {
    border: 0;
    border-left: 1px dashed hsla(223, 40%, 25%, 0.2);
    flex: 0 0 0;
    margin: 0;
}

.plan-section {
    padding: 0 16px;
    flex: 1 1 0;
    text-align: left;
}

.two-plans .plan-section {
    max-width: 400px;
}

.plan-section h4 {
    margin-top: 8px;
    margin-bottom: 16px;
    color: hsl(223, 43%, 25%);
    font-family: var(--font-ss3);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding-left: 14px;
}

.plan-section {
    color: hsl(223, 43%, 25%);
    font-family: var(--font-ops);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

    display: flex;
    flex-direction: column;
}

.plan-section ul {
    margin-bottom: 8px;
    flex: 1 0 0;
}

.plan-section a {
    color: hsl(210, 94%, 42%);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: hsla(210, 94%, 42%, 0.3);
}

.plan-section a:hover {
    color: hsl(210, 100%, 50%);
    text-decoration-color: hsla(210, 100%, 50%, 1);
}

.plan-section a:active {
    color: hsl(210, 100%, 42%);
    text-decoration-color: hsla(210, 100%, 42%, 1);
}

.plan-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plan-section ul li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 10px;
}

.plan-section ul li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0.5em;
    opacity: 0.3;
    display: inline-block;
    background-color: currentColor;
    border-radius: 16px;
    width: 6px;
    height: 6px;
    margin-right: 8px;
}

a.upgrade-button {
    display: block;
    background-color: hsl(219, 62%, 54%);
    text-decoration: none;
    color: white;
    font-family: var(--font-ss3);
    border-radius: 4px;
    padding: 7px 9px;
    user-select: none;
    margin-top: 8px;
}

a.upgrade-button:hover {
    background-color: hsl(219, 62%, 50%);
    text-decoration: none;
    color: white;
}

a.upgrade-button:active {
    background-color: hsl(219, 62%, 46%);
}

a.upgrade-button:active {
    text-decoration: none;
    color: white;
}

.upgrade-button-info,
.upgrade-button-desc {
    display: flex;
    width: 100%;
    gap: 8px;
}

.upgrade-button-info {
    margin-bottom: 4px;
}

.upgrade-button-info-label,
.upgrade-button-desc-label {
    flex: 1 1 0;
}

.upgrade-button-info-cost,
.upgrade-button-desc-cost {
    flex: 0 0 0;
    text-align: right;
}

.upgrade-button-info-label,
.upgrade-button-info-cost {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.upgrade-button-desc-label,
.upgrade-button-desc-cost {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.8;
}

a.neworg-button {
    display: flex;
    background-color: hsla(146, 92%, 26%, 1);
    text-decoration: none;
    color: white;
    font-family: var(--font-ss3);
    border-radius: 4px;
    user-select: none;
    justify-content: center;
    margin-top: 8px;
    height: 56px;
    align-items: center;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
}

a.neworg-button:hover {
    background-color: hsla(146, 92%, 24%, 1);
    text-decoration: none;
    color: white;
}

a.neworg-button:active {
    background-color: hsla(146, 93%, 22%, 1);
    text-decoration: none;
    color: white;
}


.current-plan-button {
    flex: 1;
    display: flex;
    gap: 0.5ch;
    align-items: center;
    justify-content: center;
    color: hsla(147, 80%, 29%, 1);
    cursor: pointer;
    user-select: none;
    margin-top: 8px;
    height: 65px;
    max-height: 56px;
    border-radius: 4px;
}

.current-plan-button:hover {
    background-color: hsla(147, 51%, 50%, 0.1);
}

.current-plan-button:active {
    background-color: hsla(147, 51%, 50%, 0.17);
}

.icon {
    display: inline-block;
    flex-shrink: 0;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
}

.current-plan-icon {
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none' viewBox='0 0 22 22'%3e%3cg fill='%230F8544'%3e%3cpath d='M14.396 9.813a.914.914 0 1 0-1.293-1.293l-3.02 3.02-1.186-1.186a.914.914 0 1 0-1.294 1.293l1.834 1.833a.914.914 0 0 0 1.293 0l3.666-3.667Z'/%3e%3cpath fill-rule='evenodd' d='M11 .923a4.58 4.58 0 0 0-3.495 1.62 4.581 4.581 0 0 0-4.961 4.949 4.58 4.58 0 0 0 0 7.016 4.58 4.58 0 0 0 4.96 4.949 4.583 4.583 0 0 0 7.003-.001 4.582 4.582 0 0 0 4.95-4.96 4.583 4.583 0 0 0 0-6.991 4.58 4.58 0 0 0-4.962-4.962A4.581 4.581 0 0 0 11 .923ZM9.678 3.09a2.752 2.752 0 0 1 3.64.932.914.914 0 0 0 .972.4 2.752 2.752 0 0 1 3.289 3.288.914.914 0 0 0 .4.971 2.753 2.753 0 0 1 0 4.638.914.914 0 0 0-.4.97 2.752 2.752 0 0 1-3.283 3.29.914.914 0 0 0-.97.401 2.75 2.75 0 0 1-4.644 0 .914.914 0 0 0-.971-.401 2.752 2.752 0 0 1-3.29-3.283.914.914 0 0 0-.403-.97 2.753 2.753 0 0 1 0-4.652.914.914 0 0 0 .404-.97A2.752 2.752 0 0 1 7.71 4.42a.914.914 0 0 0 .97-.4c.25-.389.592-.709.997-.93Z' clip-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e");
    width: 22px;
    height: 22px;
}

#plans-left-button,
#plans-right-button {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
    z-index: 1;
    cursor: pointer;
    overflow: visible;
}

#plans-left-button {
    left: 0px;
    background: linear-gradient(to right, #F1F5F7 30%, #f1f5f700 100%);
}

#plans-right-button {
    right: 0px;
    background: linear-gradient(to right, #f1f5f700 0%, #F1F5F7 70%);
}

.plans-scroll-left-btn,
.plans-scroll-right-btn {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 16px hsl(0deg 0% 0% / 15%);
    position: relative;
    top: calc(50% - 48px);
    transition: all 80ms ease-out;
}
.plans-scroll-left-btn{
    border-radius: 0 50% 50% 0;
    left: -8px;
}
.plans-scroll-right-btn{
    border-radius: 50% 0 0 50%;
    right: -8px;
}

.icon-chevron-left,
.icon-chevron-right{
    width: 24px;
    height: 24px;
    background-color: rgba(24, 32, 67, 0.8);

}
.icon-chevron-left{
    margin-right: 2px;
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' fill-rule='evenodd' d='M15.707 5.293a1 1 0 0 1 0 1.414L10.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0Z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.icon-chevron-right{
    margin-left: 2px;
    --icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath fill='black' fill-rule='evenodd' d='M8.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L13.586 12 8.293 6.707a1 1 0 0 1 0-1.414Z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

#plans-left-button:hover .plans-scroll-left-btn{
    scale: 1.06;
}
#plans-left-button:active .plans-scroll-left-btn{
    scale: 0.96;
}
#plans-right-button:hover .plans-scroll-right-btn{
    scale: 1.06;
}
#plans-right-button:active .plans-scroll-right-btn{
    scale: 0.96;
}

@media (max-width: 1139px) {
    .plan-section {
        padding: 0 12px;
        font-size: 13px;
        line-height: 19px;
    }

    .plan-section ul li {
        padding-left: 12px;
        margin-bottom: 8px;
    }

    .plan-section h4 {
        padding-left: 10px;
    }

    .upgrade-button-info-label,
    .upgrade-button-info-cost {
        font-size: 16px;
        line-height: 20px;
    }

    .upgrade-button-desc-label,
    .upgrade-button-desc-cost {
        font-size: 13px;
        line-height: 14px;
    }

    a.neworg-button {
        height: 52px;
        font-size: 16px;
        line-height: 20px;
    }

    .current-plan-button {
        height: 52px;
    }
}

@media (max-width: 940px) {
    h1 {
        font-size: 40px;
    }

    .h1-subheader {
        font-size: 16px;
    }

    h2.pricing-tab-button-title {
        font-size: 24px;
        line-height: 26px;
    }

    .pricing-tab-button-desc {
        font-size: 14px;
    }

    .pricing-tab-button {
        gap: 4px;
    }

    .plan-section h4 {
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 22px;
    }

    #plans-left-button,
    #plans-right-button {
        display: block;
    }
    #plans-left-button._hidden,
    #plans-right-button._hidden{
        display: none;
    }

}

@media (max-width: 700px) {
    .pricing-tab-button-desc {
        display: none;
    }
}

@media (max-width: 500px) {
    .pricing-tab-button {
        padding-left: 8px;
        padding-right: 8px;
    }

    h2.pricing-tab-button-title {
        font-size: 20px;
    }

    .pricing-tab-buttons-wrapper {
        padding-left: 0 0 0 38px;
        min-width: 200px;
    }

    .pricing-tabs {
        padding-left: 8px;
        padding-right: 8px;
    }
}