main {
    background: linear-gradient(180deg, #4D81B3 0%, #89B0D6 100%);
    padding-top: 102px;
    padding-bottom: 58px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 110%;
    text-align: center;
    font-family: var(--font-ss3);
    margin: 10px;
    z-index: 5;
}

.h1-subheader {
    font-family: var(--font-ops);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
    z-index: 5;
    max-width: 560px;
}